@font-face {
    font-family: Robot;
    src: url(Fonts/RobotoCondensed-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(237, 237, 237) ;
    font-family: Robot;
}